article {
  margin-left: 25px;
}

label {
  font-size: 14px;
  color: #48576a;
  line-height: 1;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.errors {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  li {
    padding-top: 15px;
  }
}

.loading {
  margin-top: 20px;
  margin-left: 30px;
}

.el-table__empty-block .el-table__empty-text{
  display: none !important;
}

.el-table__empty-block:after {
  content: 'No results were found';
}