<template>
  <div class="container">
    <div v-if="errors" class="errors">
      <p v-for="(errorArray, index) in errors" :key="index">
        <ul>
          <li v-for="error in errorArray" :key="error">{{ error }}</li>
        </ul>
      </p>
    </div>
    <main>
      <nav>
        <label for="name">Name</label>
        <el-input type="text" id="name" placeholder="Name" v-model="params.name" @input="changeBuildingsList()"></el-input>

        <label for="priceFrom">Price from</label>
        <el-input :min="1" type="number" id="priceFrom" placeholder="Price from" v-model="params.priceFrom" @input="changeBuildingsList()"></el-input>
        <label for="priceTo">Price to</label>
        <el-input :min="1" type="number" id="priceTo" placeholder="Price to" v-model="params.priceTo" @input="changeBuildingsList()"></el-input>
        <label for="bedrooms">Bedrooms</label>
        <el-input :min="1" :max="255" type="number" id="bedrooms" placeholder="Number of bedrooms" v-model="params.bedrooms" @input="changeBuildingsList()"></el-input>
        <label for="bathrooms">Bathrooms</label>
        <el-input :min="1" :max="255" type="number" id="bathrooms" placeholder="Number of bathrooms" v-model="params.bathrooms" @input="changeBuildingsList()"></el-input>
        <label for="storeys">Storeys</label>
        <el-input :min="1" :max="65535" type="number" id="storeys" placeholder="Number of storeys" v-model="params.storeys" @input="changeBuildingsList()"></el-input>
        <label for="garages">Garages</label>
        <el-input :min="1" :max="255" type="number" id="garages" placeholder="Number of garages" v-model="params.garages" @input="changeBuildingsList()"></el-input>
        <el-button @click="reset()">RESET</el-button>
      </nav>
      <article>
        <Table :buildings="buildings" />
        <div class="loading" v-if="loading" width="600">
          Loading...
        </div>
      </article>
    </main>
  </div>
</template>

<script>
  let vm = {};

  import _ from 'lodash';

  import Table from "./Table.vue";

  export default {
    name: 'Main',
    components: { Table },
    data: () => {
      return {
        loading: false,
        buildings: [],
        params: {},
        errors: false,
      }
    },
    beforeCreate() {
      vm = this;
    },
    mounted() {
      vm.loading = true;
      vm.getBuildings();
    },
    methods: {
      getBuildings: () => {
        axios.get(
          '/api/buildings', {
            params: vm.params
          }
        ).then(response => {
          if( response.status === 200 ) {
            vm.buildings = response.data;
            vm.loading = false;
            vm.errors = null;
          }
        }, error => {
          vm.errors = error.response.data.errors;
          vm.loading = false;
        });
      },
      changeBuildingsList: () => {
        vm.loading = true;
        vm.throttledRequest();
      },
      throttledRequest: _.debounce(() => {
        vm.getBuildings();
      }, 500),
      reset: () => {
        vm.params = {};
        vm.changeBuildingsList();
      }
    }
  }
</script>