<template>
  <div class="container">
    <el-table :data="buildings">
      <el-table-column prop="name" label="Name" width="110">
      </el-table-column>
      <el-table-column prop="price" label="Price" width="110">
      </el-table-column>
      <el-table-column prop="bedrooms" label="Bedrooms" width="110">
      </el-table-column>
      <el-table-column prop="bathrooms" label="Bathrooms" width="110">
      </el-table-column>
      <el-table-column prop="storeys" label="Storeys" width="110">
      </el-table-column>
      <el-table-column prop="garages" label="Garages" width="110">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  export default {
    props: ['buildings'],
    name: 'Table'
  }
</script>